.attribution { font-size: 11px; text-align: center; color: black;}
.attribution a { color: hsl(228, 45%, 44%); }

.big-shoulders-display-text {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lexend-deca-text {
  font-family: "Lexend Deca", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Button Reset */
button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
  }

/* ### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */


:root{
    --clr-card-sedan: hsl(31, 77%, 52%);
    --clr-card-suv: hsl(184, 100%, 22%);
    --clr-card-lux: hsl(179, 100%, 13%);
    --clr-neutral-clearwhite: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-lgray: hsl(0, 0%, 95%);

    --ff-main: "Lexend Deca", system-ui;
    --ff-headings: "Big Shoulders Display", sans-serif;
    --fw-main: 400;
    --fw-headings: 700;
    --fs-reg: .9375rem;
    --fs-headings: 2.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}

                    /* TEXT AND COLORS */
body{
    padding-inline: 1.5rem;

    background-color: var(--clr-neutral-lgray);

    font-family: var(--ff-main);
    font-weight: var(--fw-main);
    font-size: var(--fs-reg);
    line-height: 1.5rem;
    color: var(--clr-neutral-clearwhite);
}
.card__heading{
    font-family: var(--ff-headings);
    font-weight: var(--fw-headings);
    font-size: var(--fs-headings);
    color: var(--clr-neutral-lgray);
    line-height: 1;
    text-transform: uppercase;
}
.card--sedan{
    background-color: var(--clr-card-sedan);

    button{
        color: var(--clr-card-sedan);
    }
}
.card--suv{
    background-color: var(--clr-card-suv);

    button{
        color: var(--clr-card-suv);
    }
}
.card--luxury{
    background-color: var(--clr-card-lux);

    button{
        color: var(--clr-card-lux);
    }
}
.card__btn{
    background-color: var(--clr-neutral-lgray);
}

.wrapper{
    margin-block: 5.5rem;   
}

                            /* CARDS */
.grid{
    display: grid;
    grid-template-columns: 1fr;
    /* this is 4 because there are 4 elements in each card,
        (image, title, desc, btn)
        which will later be their own rows of their own subgrid
    */
    grid-template-rows: repeat(4, auto);
}

.card:first-child{
    border-radius: .5rem .5rem 0 0;
}
.card:last-child{
    border-radius: 0 0 .5rem .5rem;
}

/* since card is a direct child of grid, they become grid-items, and thus apart of the grid
    but, the things inside each card aren't, so they don't, instead displaying their own way, thus being unaligned to each other
    This is what the subgrid fixes
*/
.card{
    padding-inline:3rem;
    padding-top:3.5rem;
    padding-bottom: 2.625rem;

    /* just setting display to grid does nothing,
        as each card then becomes an independent grid.
        grid-template-rows/columns: subgrid makes
        the grid inherit from its parent, fixing this
    */
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;

    .card__img{
        /* height: auto;
        width: auto;
        max-width: 50px; */

        margin-bottom: 2.25rem;
    }
    .card__heading{
        margin-bottom: 2rem;
    }
    .card__desc{
        margin-bottom: 1.5rem;
    }
    .card__btn{
        border-radius: 2rem;
        padding-block: .75rem;
        padding-inline: 2rem;
        width:fit-content;
    }
}
                        /* BUTTONS: CLICKED */
.card__btn:active{
    box-shadow: inset 0 0 0 .125rem var(--clr-neutral-lgray);
    /* box-shadow: inset 0 0 0 .125rem blue; */
}
.card--sedan > .card__btn:active{
    background-color: var(--clr-card-sedan);
    color: var(--clr-neutral-lgray);
}
.card--suv > .card__btn:active{
    background-color: var(--clr-card-suv);
    color: var(--clr-neutral-lgray);
}
.card--luxury > .card__btn:active{
    background-color: var(--clr-card-lux);
    color: var(--clr-neutral-lgray);
}

                        /* EXTENDED MOBILE */
                        /* SHIFT CARD */
/* When a button is clicked, it's card will be shifted to the top and have its desc and btn removed */
    /* Now it must be formatted to look like a section header */
/* Reset and Centering */
.section-header{
    margin: 0;
    padding: 0;
    /* background-color: blue; */
    display:flex;
    align-items: center;

    .card__img{
        margin: 0;
    }
    .card__heading{
        margin: 0;
    }
}
/* Sizing changes */
.section-header{
    padding-block: 1rem;
    .card__img{
        margin-left: 3rem;
    }
    /* centering the heading */
    .card__heading{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}



                        /* DESKTOP VER */
@media (min-width:780px) {
    body{
        height: 100vh;
        display: grid;
    }
    .centered{
        place-self: center;
    }
    .wrapper{
        max-width: 920px;
        margin: 0;
    }
    .grid{
        /* FOR EXTRA: look back at calendar project for how to replace 3 with variable */
        grid-template-columns: repeat(3,1fr);
        /* NOTE: Since the organization of the info is still vertical
        and the row size is span,
        even though the subgrids are no longer stacked on top of each other,
        the subgrid still works as intended */
    }
    .card:first-child{
        border-radius: .5rem 0 0 .5rem;
    }
    .card:last-child{
        border-radius: 0 .5rem .5rem 0;
    }
    .card{
        padding-top: 3rem;
        padding-bottom: 3.075rem;
        .card__img{
            margin-bottom: 2.5rem;
        }
        .card__heading{
            margin-bottom: 1.875rem;
        }
        .card__desc{
            margin-bottom: 5.325rem;
        }
    }
}